@charset "UTF-8";

body{
    background-color: #F3EEC8;
}

h1{
    color: green;  
}

h1#principal{
    text-align: center;
    background-color: #44A079;
    color: white;
}

h2{
    color: rgb(116, 116, 3);
}

.basico{
    color: #38CA69;
}

.intermediario{
    color: #A8CC6D;
}

.avancado{
    color: #F5314C;
}

p{
    text-align: justify;
}